:root {
  --color-bg: #eff2f7;
  --color-soft-neutral: #bcc2d4;
  --color-black: #080809;
  --color-gray: #5a595d;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Slab', serif,-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--color-bg);
  color: var(--color-black);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
